{% extends "blog/base.html"%}
{% block content%}
    <article class="media content-section d-flex align-items-start" >

      <div class="row w-100 mt-2">
            <div class="col-auto d-flex flex-column align-items-center">
                <a href="{% url 'user-posts' object.organizer.username %}"><img class="rounded-circle article-img mb-2 " src="{{ object.organizer.profile.image.url }}" style="margin-right: 0%;"></a>
                    
                <div class="btn btn-outline-secondary btn-sm"> {{object.participants.count}} regs</div>
                    
                
            </div>
            <div class="col" style="padding: 0%;">
                <div class="media-body">
                    <div class="article-metadata d-flex justify-content-between align-items-center">
                        <a class="mr-2" href="{% url 'user-posts' object.organizer.username %}">
                            {{ object.organizer }}
                        </a>
                        <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
                        {% if object.organizer == user %}
                        <div>
                            <a href="{% url 'event-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1" > Update</a>
                            <a href="{% url 'event-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1" > Delete</a>
                        </div>
                        {% endif %}
                    </div>
                    <h2 class="article-title">{{ object.name }}</h2>
                    <p class="article-content">{{ object.description|safe }}</p>
                    
                    {% if user.is_authenticated %}
                        {% if user != object.organizer %}
                            {% if reg %}
                                <div class="btn btn-primary btn-sm"> You are already registered for this event</div> 
                            {% else %}
                                <form action="{% url 'event-register' event.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">Register for Event</button>
                                </form>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
                        {% else %}
                            </div>
                        </div>
                    </div>
                </article>
                <article class="media content-section" >
                            <h2 class="article-content"> Registered Participants : {{ object.participants.count }}</h2>
                            <div class="list-group">
                                <label class="list-group-item d-flex gap-2">
                                  <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="">
                                  <span>
                                    First checkbox
                                    <small class="d-block text-body-secondary">With support text underneath to add more detail</small>
                                  </span>
                                </label>
                                <label class="list-group-item d-flex gap-2">
                                  <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                                  <span>
                                    Second checkbox
                                    <small class="d-block text-body-secondary">Some other text goes here</small>
                                  </span>
                                </label>
                                <label class="list-group-item d-flex gap-2">
                                  <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                                  <span>
                                    Third checkbox
                                    <small class="d-block text-body-secondary">And we end with another snippet of text</small>
                                  </span>
                                </label>
                              </div>
            </article>

                        {% endif %}
                    {% else %}
                    {% endif %}
                    
               

{% endblock content %}